<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<a ui-sref="app.landing">
					<img src="img/icons/logo.png"  class="DemoHeader-logo"/>
				</a>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" href="#/login">Login</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="#/register">Register</a>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>

