   <div layout="column">
   		<md-toolbar md-scroll-shrink>
		    <div class="md-toolbar-tools">{{vm.userType}} Dashboard</div>
		</md-toolbar>
	   <md-content>
			Hi! I'm Arifu :-)		     
	   </md-content>
   </div>
