<form ng-submit="vm.login(login-form.$valid)" name="login-form" novalidate>
	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email" name="email">
			<p style="color:red">{{vm._errors.email[0]}}</p>
		</md-input-container>
	</div>

	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password" name="password">
			<p ng-show="login-form.password.$pending ">Checking Password ....</p>

		</md-input-container>
	</div>

	<md-button type="submit" class="LoginForm-submit md-primary md-raised">Log in</md-button>
</form>

