<form ng-submit="vm.submit()" flex="80">
	<div layout="row">
		<md-input-container class="md-block" flex="50">
	        <label>Name</label>
	        <input  ng-model="vm.name">
	     </md-input-container>
	     <md-input-container class="md-block" flex="50">
	        <label>Email</label>
	        <input  ng-model="vm.email">
	     </md-input-container>
	</div>

	<div layout="row">
		<md-input-container class="md-block" flex="50">
	        <label>Phone</label>
	        <input  ng-model="vm.phone">
	     </md-input-container>
	     <md-input-container class="md-block" flex="50">
	        <label>Location</label>
	        <input  ng-model="vm.location">
	     </md-input-container>
	</div>
	<div layout="row">
		<md-input-container class="md-block" flex="50">
	        <label>Type</label>
	       <md-select ng-model="vm.type">
	          <md-option  value="personal">
	            Personal
	          </md-option>
	          <md-option  value="corporate">
	            Corporate
	          </md-option>
	        </md-select>
	     </md-input-container>
	</div>

	<div layout="row">
		<md-input-container class="md-block">
	        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
	     </md-input-container>
	</div>
	
</form>