<form ng-submit="vm.register()">
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Name</label>
			<input type="text" ng-model="vm.name">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Phone</label>
			<input type="email" ng-model="vm.phone">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Location</label>
			<input type="email" ng-model="vm.location">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label> Confirm Password</label>
			<input type="password" ng-model="vm.confirm_password">
		</md-input-container>
	</div>

	<md-button type="submit" class="RegisterForm-submit md-primary md-raised">Register</md-button>
</form>
