<md-sidenav md-component-id="left" class="md-sidenav-left"  md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Arifu Web Learning App</h1>
  </md-toolbar>
  <md-list>
      <md-list-item ui-sref="app.clients">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Clients</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ui-sref="app.programs">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Programs</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ui-sref="app.users">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Users</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ui-sref="app.roles">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Roles</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ui-sref="app.permissions">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Permissions</p>
      </md-list-item>
      <md-divider></md-divider>
</md-list>

</md-sidenav>

